<%= link_to "Data Report (as CSV)", all_report_path('csv')%>
<%= link_to "Data Report (as HTML)", all_report_path('html')%>
<%= link_to "Data Report (as PDF)", all_report_path('pdf')%>

<table>
	<thead>
	<tr>
		<td>First Name</td>
		<td>Last Name</td>
		<td>Email</td>
		<td>User Name</td>
	</tr>
	</thead>
	<% @user.each do |user| %>
		<tbody>
		<tr>
		<td><%= user.first_name %></td>
		<td><%= user.last_name %></td>
		<td><%= user.email %></td>
		<td><%= user.user_name %></td>
		</tr>
		</tbody>
		<% end %>
</table>
