<head>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
</head>

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <article class="type-system-slab">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Log In</h1>
          <h2><%= f.error_notification %></h2>
          <p>
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </p>
          <hr>
          <%= f.button :submit, 'Log In' %>
        <% end %>
      </article>
    </div>
  </div>
</div>
